 <style type="text/css">
 @import url(http://fonts.googleapis.com/css?family=Electrolize);
#menulateral li{
	
	padding-top: 5px;
	border-radius: 1px;
	text-align: center;
	padding: 0px;
	margin: 5px 0px;
	background: #FFF none repeat scroll 0% 0%;
}
#menulateral ul li a{
	text-transform: uppercase;
	text-decoration: none;
	background-color:#EDBD00;
	color: #382C00;
	border-bottom: 3px solid #9F9C9C;
	text-align: center;
	font-family: 'Electrolize', sans-serif;
	border-radius: 4px;
	font-weight: bold;
	display: block;
	padding-bottom: 5px;
	padding-top: 5px;
}
#menulateral ul li  a:hover{
	color: #F3F3F3;
}

#menulateral ul{
	padding: 0px;
	margin: 0px;
	list-style: none;
}

 </style>
<nav id="menulateral">
 <ul>
     <li><a href="#" >Enfoque</a></li>
      <li><a href="#">ponto de Vista</a></li>
     <li><a href="#">Esaco Aberto</a></li>
    <li><a href="#">Resenhas</a></li>
	<li><a href="#">Bibliografia Comentada</a></li>
	<li><a href="#">Videos</a></li>

   </ul>
   </nav>