
<!-- empty -->
<div class="theme-header2">
	    <div class="navigation2">
	    <nav>
    <ul>
     <li><a href="/portal/eventos" id="submenu-events"><span class="icon-menu-events">Hackeadores</span></a></li>
      <li><a href="/search/communities" id="submenu-communities"><span class="icon-menu-community">Hackeadores</span></a></li>
     <li><a href="/search/people/" id="submenu-people"><span class="icon-menu-people">Hackead@?</span></a></li>
  
    <li><a class="link-this-page" href="/"><span>Início</span></a></li>
   
   
   	</ul>
   	</nav>
    </div>
    
</div>
