@import url(../base/style.css);
@import url(http://fonts.googleapis.com/css?family=Electrolize);
@import url(http://fonts.googleapis.com/css?family=Oswald);
@import url(http://fonts.googleapis.com/css?family=Inder);
@import url(http://fonts.googleapis.com/css?family=Ubuntu+Condensed);
@import url(https://fonts.googleapis.com/css?family=Fauna+One);

body {
    background: #FFF none repeat scroll 0% 0%;
    margin-top: -17px;
    background: none repeat scroll 0% 0% #FFF;
    line-height: 1.429;
    color: #333;
    font-family: Imprima;
}
body, th, td, input {
    font-size: 12px;
}

#theme-header {
   height: 188px;
line-height: 50px;
right: 0px;
left: 0px;
z-index: 999;
position: relative;

top: 58px;
background: transparent url("images/proposta2345.png") no-repeat scroll 0% 0%;
}
.theme-header2 {
   height: 41px;
background: #8B008B  none repeat scroll 0% 0%;
line-height: 50px;
right: 0px;
left: 0px;
z-index: 9999;
position: fixed;
box-shadow: 2px -1px 16px #888;
top: 0px;
}
.f-theme-header2{
z-index: 99999;
position: fixed;
top: 0px;
}
#title-bar {
  background-color: gray;
}
#title-bar h1 {
  color: white;
}
#chat-window {
  background: white;
}
#buddy-list #environment-logo {
  background-color: #BBB;
}
#wrap-1 {
    width: 89%;
    margin: auto;
    background: #FFF none repeat scroll 0% 0%;
     box-shadow: 2px -1px 16px #888;
     border-radius: 37px;
}
#wrap-2 {
   
     border-radius: 37px;
}
#user {
    text-align: right;
    position: relative;
    top: -52px;
    z-index: 9999;
}

.navigation2 {
    position: relative;
	top: -6px;
	right: 173px;
	width: 61%;
	text-align: right;
	background: transparent url("imgs/menu-top-bg-left.png") no-repeat scroll 0% 0%;
	z-index: 9999;
	float: right;
	text-transform: uppercase;
	text-align: center;
}
.navigation2 ul{
  list-style: none;
  }
  .navigation2 ul li{
 display: inline;
  }
.navigation2 a {
    font-size:19px;
    padding: 6px 10px;
    line-height: 24px;
    width: auto;
    border-width: medium medium 4px;
    /*border-image: none;*/
    transition: all 0.6s ease 0s;
    border-style: none none solid;
    border-bottom: 1px;
	color: white;
	 font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	font-family: 'Electrolize', sans-serif;
}
.navigation2 a:hover {
    color: #35322D;
   }
.navigation2 span {
    padding: 0px 0px 0px 11px;
    background: rgba(119, 40, 40, 0) none repeat scroll 0% 0%;
    float: right;
    margin: 4px 3px auto auto;
}
.f-navigation2{
z-index: 9999;
position: fixed;
top: 0; width:100%;
}

#navigation {
    display: none;
    }

#navigation-end {
	display: none;
	}
    
#user {
    right: 213px;
    height: 25px;
    line-height: 25px;
    padding: 0px;
    z-index: 9999;
    top: -128px;
    position: absolute;
    
    font-size: 0.9em;
}
#user a i {
    display: none;
}
/*#busca {
    position: absolute;
    top: 30px;
    right: 10%;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 3px;
    opacity: 0.9;
    transition: all 0.5s ease 0s;
    z-index: 2;
}*/
#top-search input {
   color: #000;
text-shadow: 1px 1px 2px #FFF;
border: 1px solid rgba(0, 0, 0, 0.3);
border-radius: 2px;
background: rgba(255, 255, 255, 0.4) url("images/lupa.png") no-repeat scroll 95% 50%;
line-height: 28px;
padding: 0px 0px 0px 10px;
font-size: 16px;
font-weight: normal;
width: 200px;
transition: all 0.5s ease 0s;
margin: 47px -34px 2px auto;
}
#top-search:hover input, #top-search.focus input {
    color: rgba(0, 0, 0, 0.9);
    background-color: #FFF;
    transition: all 0.3s ease 0s;
    border: 1.5px solid rgba(0, 0, 0, 1);
}
#user form input {
    color: #555;
    display: none;
}
#highlighted-news .post-date {
    display: none;
}
.highlighted-news-item.post-1 {
    border: medium none;
    padding-top: 0px;
    width: 45%;
    float: left;
    z-index: 2;
    margin-right: 7px;
    margin-left: 7px;
    border-top: 2px solid black;
}
.highlighted-news-item.post-2 {
    border: medium none;
    padding-top: 0px;
    width: 39%;
    float: left;
    z-index: 2;
    margin-right: 7px;
    margin-left: 7px;
    border-top: 2px solid black;
}
.highlighted-news-item.post-3 {
    border: medium none;
    padding-top: 0px;
    width: 45%;
    float: left;
    z-index: 2;
    margin-right: 7px;
    margin-left: 7px;
    border-top: 2px solid black;
}
.highlighted-news-item.post-4 {
    border: medium none;
    padding-top: 0px;
    width: 45%;
    float: left;
    z-index: 2;
    margin-right: 7px;
    margin-left: 7px;
    border-top: 2px solid black;
}
.main-content {
    border-style: none;
    box-shadow: none;
}

#highlighted-news .post-title {
    font-size: 15px;
}
.action-home-index #content h1 {
    display: none;
}
#article {
    top: 0px;
}
.blog-post {
    background: none repeat scroll 0% 0% transparent;
    padding: 40px 0px 5px;
    margin: -40px 23px;
    width: 43%;
    float: left;
    top: 17px;
    margin-bottom: 0px;
}
#content .main-block h1, #not-found h1, #access-denied h1 {
    font-variant: small-caps;
    color: #555753;
    border-radius: 33px;
    border-bottom: 2px solid #2E3436;
    text-align: center;
}
#content .blog-post .title a {
    text-decoration: none;
    font-size: 13px;
    padding: 6px 0px 4px 4px;
    text-transform: uppercase;
    color: black;
    font-family: "Fauna One";
}
#content .main-block .publishing-info {
    display: none;
}
#content #article-header h1 {
     display: none;
}
#content .blog-post .title {
    border-bottom-color: #8B008B;
}
